<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="uft-8">
        <title>XXX</title>
        <script src="lib/js/angular.js"></script>
        <script src="lib/js/angular-animate.js"></script>
        <script src="lib/js/angular-sanitize.js"></script>
        <script src="lib/js/ui-bootstrap-tpls-3.0.6.min.js"></script>
        <link href="lib/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="lib/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="lib/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body ng-controller="index_ctrl" class="index-back">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-header">
                <a class="navbar-brand">XxxX</a>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" ng-click="to_login()">{{navbutton1}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-click="to_signup()">{{navbutton2}}</a>
                </li>
            </ul>
        </nav>
        <div class="index-container">
            <p style="font-size: 64px;">XxxX</p><br>
            <p style="font-size: large;">fosdfsdfntsisdfdsdadfoisjhdf</p>
            <button class="btn btn-lg btn-primary mt-5" type="button" ng-click="to_login()">Login</button>
        </div>
        <script src="ctrl/common/httpservice.js"></script>
        <script src="ctrl/common/modalservice.js"></script>
        <script src="ctrl/index.js"></script>
    </body>
</html>