<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="uft-8">
        <title>Apartment list</title>
        <script src="../lib/js/angular.js"></script>
        <script src="../lib/js/angular-animate.js"></script>
        <script src="../lib/js/angular-sanitize.js"></script>
        <script src="../lib/js/ui-bootstrap-tpls-3.0.6.min.js"></script>
        <link href="../lib/css/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="../lib/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../lib/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="../lib/css/style-apt-list.css" rel="stylesheet" type="text/css">
    </head>
    <body ng-controller="index_ctrl" class="index-back">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-header">
                <a class="navbar-brand">XxxX</a>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" ng-click="to_login()">{{navbutton1}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-click="to_signup()">{{navbutton2}}</a>
                </li>
            </ul>
        </nav>
        <div class="search-bar">
            <form class="search-form">
                <input class="search-input" type="text" placeholder="Type to search...">
                <button class="search-btn" type="submit"></button>
            </form>
        </div>
        <div class="choose-region">
            <p class="type_name" id="housetype">
                <a class="type_content type">House type:</a>
                <span class="before_color default_color" id="house_type">All</span>
            </p>
            <div class="back" >
                Hide&nbsp;&nbsp;<i class="fa fa-angle-up fa-lg down"></i>
            </div>
            <p id="more_type" class="type_name type_name_more more_type">
            </p>
            <div class="more">
                More&nbsp;&nbsp;<i class="fa fa-angle-down fa-lg down"></i>
            </div>
            <hr/>
            
            <p class="type_name1" id="checkindate">
                <a class="type_content type">Check-in date:</a>
                <span class="before_color default_color" id="checkin_date">All</span>
            </p>
            <div class="back1" >
                Hide&nbsp;&nbsp;<i class="fa fa-angle-up fa-lg down"></i>
            </div>
            <p id="more_checkindate"  class="type_name1 type_name_more more_checkindate">
            </p>
            <div class="more1">
                More&nbsp;&nbsp;<i class="fa fa-angle-down fa-lg down" ></i>
            </div>
            <hr/>
         
            <p class="type_name3" id="houselocation">
                <a class="type_content type">Location:</a>
                <span class="before_color default_color" id="house_location">All</span>
            </p>
            <div class="back3" >
                Hide&nbsp;&nbsp;<i class="fa fa-angle-up fa-lg down"></i>
            </div>
            <p  id="more_houselocation" class="type_name3 type_name_more more_houselocation">
            </p>
            <div class="more3">
                More&nbsp;&nbsp;<i class="fa fa-angle-down fa-lg down"></i>
            </div>
            <hr/>
         
            <p class="type_name2" id="houseprice">
                <a class="type_content type">Price:</a>
                <span class="before_color default_color" id="house_price">All</span>
            </p>
            <div class="back2" >
                Hide&nbsp;&nbsp;<i class="fa fa-angle-up fa-lg down"></i>
            </div>
            <p  id="more_houseprice"  class="type_name2 type_name_more more_houseprice">
            </p>
            <div class="more2">
                More&nbsp;&nbsp;<i class="fa fa-angle-down fa-lg down"></i>
            </div>
            <hr/>
        </div>

        <!-- <div class="index-container">
            <p style="font-size: 64px;">XxxX</p><br>
            <p style="font-size: large;">fosdfsdfntsisdfdsdadfoisjhdf</p>
            <button class="btn btn-lg btn-primary mt-5" type="button" ng-click="to_login()">Login</button>
        </div> -->

        <script type="text/ng-template" id="login.html">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title">Log in</h2>
            </div>
            <div class="modal-body">
                <form class="container" name="login_form">
                    <div class="form-group mb-2">
                        <input class="form-control form-control-lg" type="email" placeholder="Enter email" name="login_email" ng-focus="f_ine()" ng-model="user_in.email" required>
                        <span class="text-danger pl-17p" ng-show="login_email_err()">{{login_email_errmsg()}}</span>
                    </div>
                    <div class="form-group mb-2">
                        <input class="form-control form-control-lg" type="{{typepwd ? 'text':'password'}}" placeholder="Enter password" name="login_pwd" ng-focus="f_inp()" ng-model="user_in.pwd" required>
                        <span class="form-control-eye" ng-show="!login_form.login_pwd.$error.required" ng-class="{'fa fa-eye': typepwd, 'fa fa-eye-slash': !typepwd}" ng-click="togglepwd()"></span>
                        <span class="text-danger pl-17p" ng-show="login_pwd_err()">{{login_pwd_errmsg()}}</span>
                    </div>
                    <div class="form-group form-check text-right mb-0">
                        <input class="form-check-input" type="checkbox" name="remember" ng-model="remember">Remember
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-link invisible" type="button">Create Account</button>
                <button class="btn btn-primary" type="button" ng-disabled="login_disable()" ng-click="login_click()">Login</button>
                <button class="btn btn-link" type="button" ng-click="to_signup()">Create Account</button>
            </div>
        </script>
        <script type="text/ng-template" id="signup.html">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title">Sign up</h2>
            </div>
            <div class="modal-body">
                <form class="container" name="signup_form">
                    <div class="form-group mb-1">
                        <label>Email</label>
                        <input class="form-control" type="email" name="signup_email" ng-focus="f_upe()" ng-model="user_up.email" required>
                        <span class="text-danger pl-13p" ng-show="signup_email_err()">{{signup_email_errmsg()}}</span>
                    </div>
                    <div class="form-group mb-1">
                        <label>Username</label>
                        <input class="form-control" type="text" name="signup_name" ng-focus="f_upn()" ng-model="user_up.nickname" required>
                        <span class="text-danger pl-13p" ng-show="signup_name_err()">{{signup_name_errmsg()}}</span>
                    </div>
                    <div class="form-group mb-1">
                        <label>Password</label>
                        <input class="form-control" type="{{typepwd ? 'text':'password'}}" name="signup_pwd" ng-pattern="pattern_pwd" ng-model="user_up.pwd" required>
                        <span class="form-control-eye s-eye" ng-show="!signup_form.signup_pwd.$error.required" ng-class="{'fa fa-eye': typepwd, 'fa fa-eye-slash': !typepwd}" ng-click="togglepwd()"></span>
                        <span class="text-danger pl-13p" ng-show="signup_pwd_err()">{{signup_pwd_errmsg()}}</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-link invisible" type="button">Login</button>
                <button class="btn btn-primary" type="button" ng-disabled="signup_disable()" ng-click="signup_click()">Create Account</button>
                <button class="btn btn-link" type="button" ng-click="to_login()">Login</button>
            </div>
        </script>
        
        <script src="../ctrl/common/httpservice.js"></script>
        <script src="../ctrl/index.js"></script>
    </body>
</html>