<!DOCTYPE html>
<html ng-app="apt-list">
    <head>
        <meta charset="utf-8">
        <title>Apartment list</title>
        <script src="../lib/js/angular.js"></script>
        <script src="../lib/js/angular-animate.js"></script>
        <script src="../lib/js/angular-sanitize.js"></script>
        <script src="../lib/js/ui-bootstrap-tpls-3.0.6.min.js"></script>
        <script src="../lib/js/jquery.min.js"></script>
        <link href="../lib/css/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="../lib/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../lib/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="../lib/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body ng-controller="ListCtrl">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="to_index()">ARWP</a>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" ng-click="to_login()">{{navbutton1}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-click="to_signup()">{{navbutton2}}</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid d-flex justify-content-between">
            <div class="container-fluid" style="width: 69%;">
                <div class="input-group input-group-lg pt-5">
                    <input class="form-control" type="text" placeholder="Type to search" name="searchbar">
                    <div class="input-group-append">
                        <button class="btn btn-primary" ng-click="to_aptlist()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="mt-5">
                    <img class="mapimage" src="../src/map.PNG" alt="map" style="width: 100%; height: auto">
                </div>
            </div>
            <div class="container-fluid">
                <div class="selectbox mt-5 border">
                    <div class="selediv mt-2 ml-0">
                        <div class="selemenu">
                            <span class="sqinput">Waterloo</span>
                            <span class="csinput"></span>
                        </div>
                        <div class="big-list">
                            <div class="choose-reigon">
                                <div class="label">City</div>
                                <ul class="city-list">
                                    <li class="active">Waterloo</li>
                                    <li>Kitchener</li>
                                    <li>Guelph</li>
                                    <li>Stratford</li>
                                    <li>Hamilton</li>
                                    <li>London</li>
                                </ul>
                             </div>
                        </div>
                    </div>
                    <div class="selediv mt-2 ml-0">
                        <div class="selemenu">Available time</div>
                        <div class="time-list">
                            <div ng-controller="DatepickerCtrl">
                                <div style="display:inline-block; min-height:290px;">
                                  <div uib-datepicker ng-model="dt" class="card" datepicker-options="options"></div>
                                </div>
                                <hr />
                                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                            </div>
                        </div>
                    </div>
                    <div class="selediv mt-2 ml-0">
                        <div class="selemenu">Price</div>
                        <div class="price-list justify-content-between">
                            <select ng-model="priceSelect" style="width: 80%;">
                                <option><400</option>
                                <option>400~600</option>
                                <option>600~800</option>
                                <option>800~1000</option>
                                <option>>1000</option>
                            </select>

                            <hr />
                            <button type="button" class="btn btn-sm btn-info">Roll up</button>
                        </div>
                    </div>
                    <div class="selediv mt-2 ml-0">
                        <div class="selemenu">Building Type</div>
                        <div class="small-list">
                            <span>Apartment</span>
                            <span>House</span>
                            <span>Studio</span>
                        </div>
                    </div>
                </div>
                <div class="container-fluid mt-5 ml-0 scrollbar-deep list-scrollbar border bc-grey">
                    <dl class="info-region mt-3">
                        <dt class="info border-bottom" ng-repeat="x in data_info|filter:pricefilter" style="margin-bottom: 3%; font-size: 15px; font-weight: 500;">
                            <div class="box d-flex justify-content-between">
                                <div class="info-image text-center" style="width: 30%;">
                                    <img src="{{x.images[0]}}" alt="house-image" style="max-height: 150px;" ng-click="to_aptinfo(x.aid)">
                                </div>
                                <div class="info-details d-flex justify-content-between" style="width: 50%;">
                                    <div class="box1">
                                        <ul>
                                            <a class="list-link" ng-click="to_aptinfo(x.aid)">{{show_address(x.address)}}</a>
                                            <li>Available: {{x.startDate}}</li>
                                            <li>Lease Term: {{x.term + " months"}}</li>
                                            <li>Vacancy: {{x.vacancy}}</li>
                                            <li>Building Type: {{x.type}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="info-price" style="width: 10%; text-align: center; line-height: 146px;">
                                    <p>{{"$" + x.price}}</p>
                                </div>
                                <div class="info-like" style="width: 5%;">
                                    <i class="like fa fa-star" ng-click="addFavor(x.aid)" ng-class="{'acti': star_acti(x.aid)}"></i>
                                </div>
                            </div>
                        </dt>
                    </dl>
                </div>
            </div>
        </div>  
        
        <script src="../ctrl/common/httpservice.js"></script>
        <script src="../ctrl/common/modalservice.js"></script>
        <script src="../ctrl/common/navservice.js"></script>
        <script src="../ctrl/apt-list.js"></script>

        <!-- script for select -->
        <script>
            $(".selemenu").click(function(){
                $(this).next().slideToggle();
                $(this).parents().siblings().find(".small-list,.big-list").slideUp();
            })
            $(".small-list span").click(function(){
                var text = $(this).text();
                $(this).parent().prev().html(text);
                $(this).parent().prev().css("color","#666")
                $(this).parent().slideUp();
            })
            $(".price-list button").click(function(){
                // var text = $(this).text();
                // $(this).parent().prev().html(text);
                // $(this).parent().prev().css("color","#666")
                $(this).parent().slideUp();
            })
            $(".city-list li").click(function(){
                $(".city-list li").removeClass("active")
                $(this).addClass("active")
                var text1 = $(this).text();
                $(".sqinput").html(text1)
                $(".big-list").slideUp();
            })
            $(".region-list li").click(function(){
                $(".region-list li").removeClass("active")
                $(this).addClass("active")
                var text2 = $(this).text();
                $(".csinput").html("-"+text2)
                $(".big-list").slideUp();
            })
            $(function(){
                $(document).not($(".selectbox")).click(function(){
                    $(".small-list,.big-list,.time-list,.price-list").slideUp();
                })
                $(".selectbox").click(function(event){
                    event.stopPropagation();
                })
            })
        </script>
    </body>
</html>