<!DOCTYPE html>
<html ng-app="apt-info">
	<head>
		<meta charset="uft-8">
		<title>Apartment Info</title>
		<script src="../lib/js/angular.js"></script>
		<script src="../lib/js/angular-animate.js"></script>
		<script src="../lib/js/angular-sanitize.js"></script>
		<script src="../lib/js/jquery.min.js"></script>
		<script src="../lib/js/ui-bootstrap-tpls-3.0.6.min.js"></script>
		<link href="../lib/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="../lib/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="../lib/css/style.css" rel="stylesheet" type="text/css">
	</head>
    


	<body ng-controller="siteCtrl">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="to_index()">ARWP</a>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" ng-click="to_login()">{{navbutton1}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-click="to_signup()">{{navbutton2}}</a>
                </li>
            </ul>
        </nav>




		<div class="container-fluid d-flex justify-content-between">
			<div class="container-fluid">
				<div style="width:90%;height:100px;" class="container text-center ml-4 mt-4" ng-click="show_picture(4)">
					<h4>{{show_address(apt_info.address, true)}}</h4>
					<p>{{apt_info.type}}</p>
				</div>
				<div class="d-flex flex-row ml-4 mb-4 align-items-center">
					<div region="west" class="west" style="width: 80px;"><img
							style="width:60px;height:60px" src="../src/profile.png"
							class="rounded-circle  float-left "></div>
					<h5>    {{user_info.nickname}}</h5>
				</div>
				<div style="width:90%;" class="container scrollbar-deep text-scrollbar p-4 ml-4 bc-grey">
					<p>{{apt_info.description}}</p>
				</div>
				<div style="width:90%;" class="p-3 m-4">
					<h4>Address</h4>
					<p>{{show_address(apt_info.address)}}</p>
				</div>
				

				<div style="height:500px;width:90%;" class="container m-2 p-2">
					<div ng-controller="RatingDemoCtrl" class="container m-2 p-2">
						<h4>Star</h4>
						<span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
						<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
					</div>
					<div style="height:70%;" class="container scrollbar-deep text-scrollbar">
						<div class="card">
							<div class="card-body ">
								<div class="d-flex flex-row ml-2 mb-2 align-items-center">
									<div region="west" class="west" style="width: 100px;"><img
											style="width:60px;height:60px" src="../src/4.jpg"
											class="rounded-circle  float-left m-2"></div>
									<h6>Sam</h6>
								</div>
								<div class="float-left pl-3">blr farm-to-table bicycle rights whatever. Anim keffiyeh carles
									cardigan.
									mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg
									hoodie minim
									qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes
									anderson aesthetic.
								</div>
							</div>
							<div class="card-body ">
								<div class="d-flex flex-row ml-2 mb-2 align-items-center">
									<div region="west" class="west" style="width: 100px;"><img
											style="width:60px;height:60px" src="../src/4.jpg"
											class="rounded-circle  float-left m-2"></div>
									<h6>Jerry</h6>
								</div>
								<div class="float-left pl-3">iyeh carles cardigan.
									mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg
									hoodie minim
									qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes
									anderson aesthetic.
								</div>
							</div>
							<div class="card-body ">
								<div class="d-flex flex-row ml-2 mb-2 align-items-center">
									<div region="west" class="west" style="width: 100px;"><img
											style="width:60px;height:60px" src="../src/4.jpg"
											class="rounded-circle  float-left m-2"></div>
									<h6>Tom</h6>
								</div>
								<div class="float-left pl-3">
									mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg
									hoodie minim
									qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes
									anderson aesthetic.
								</div>
							</div>
							<div class="card-body text-center">
								<button class="btn btn-secondary" style="width:50%" type="button">More</button>
							</div>
						</div>
					</div>
					<div ng-controller="InfoController" class="card-body text-center">
						<button class="btn btn-primary" style="width:90%" type="button" ng-click="show(4)">Comment</button>
					</div>
				</div>
			</div>



			<div class="container-fluid">
				<div class="text-center m-4" style="height: 400px">
					<div uib-carousel active="active">
						<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
							<img style="height: 400px" ng-src="{{slide.image}}">
						</div>
					</div>
				</div>
				<div class="card text-center m-4 bc-grey">
					<div class="card-header">
						<h5>Details</h5>
					</div>
					<div class="card-body ">
						<p class="float-left m-2">Avaliable start</p>
						<p class="float-right m-2">{{apt_info.startDate}}</p>
					</div>
					<div class="card-body ">
						<p class="float-left m-2">Lease Term</p>
						<p class="float-right m-2">{{apt_info.term}}</p>
					</div>
					<div class="card-body ">
						<p class="float-left m-2">Type</p>
						<p class="float-right m-2">{{apt_info.type}}</p>
					</div>
					<div class="card-body ">
						<p class="float-left m-2">Vacancy</p>
						<p class="float-right m-2">{{apt_info.vacancy}}</p>
					</div>
					<div class="card-body ">
						<p class="float-left m-2">Rent</p>
						<p class="float-right m-2">{{apt_info.price}} CAD$/month</p>
					</div>

					<div class="card-footer">
						<div ng-controller="InfoController" class="align-content-center ">
							<button style="width:80%;" type="button" ng-click="show(5)" class="btn btn-primary">
								Reserve
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../ctrl/common/httpservice.js"></script>
		<script src="../ctrl/common/modalservice.js"></script>
		<script src="../ctrl/common/navservice.js"></script>
		<script src="../ctrl/apt-info.js"></script>

		<script type="text/ng-template" id="reserve.html">
			<div ng-controller="siteCtrl" style="width:580px;height:500px" class="card text-center align-self-center " >
				<div class="card-header "><h6>Contact Information</h6></div>
				<div class="card-body align-content-center">
					<div class="card-body m-3" >
						<p class="float-left m-2">Name:</p>
						<p class="float-right m-2"> {{user_info.nickname}}</p>
					</div>
					<div class="card-body m-3" >
						<p class="float-left m-2">Phone number:</p>
						<p class="float-right m-2"> {{user_info.phoneNum}}</p>
					</div>
					<div class="card-body m-3" >
						<p class="float-left m-2">Email address:</p>
						<p class="float-right m-2"> {{user_info.email}}</p>
					</div>
				</div>
				<div class="card-footer align-content-center">
					<button style="width:60%;" type="button" ng-click="show(5)" class="btn-lg btn-primary">
						Reserve now
					</button> 
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="picture22.html">
			<img style="width:1000px;" src="../src/5.jpg" class="align-self-center">
		</script>
		
		<script type="text/ng-template" id="rate_submit.html">
			<div ng-controller="siteCtrl" style="width:580px;height:250px" class="card text-center align-self-center " >
				<div class="card-header "><h4>Your Comment</h4></div>
				<div class="card-footer align-content-center">
					<div ng-controller="RatingDemoCtrl" class="container m-2">
						<h5>Rate for this apartment</h5>
						<span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
						<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
					</div>
					<button ng-show="Showcomment" style="width:60%;" type="button"   ng-click="Showcomment=false" class="btn btn-primary"  >
						Submit
					</button> 
					<h5 ng-show="!Showcomment" style="color: rgb(254, 112, 112)">Thanks for rating!</h5>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="picture.html">
			<div class='card align-self-center'>
				<div uib-carousel active="active">
					<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
						<div class="carousel-caption align-self-center">
							<h4>Slide {{slide.id}}</h4>
						</div>
						<img style="width:1000px;height:700px" ng-src="{{slide.image}}">
					</div>
				</div>
			</div>
		</script>

	</body>

</html>