<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="uft-8">
        <title>XXX</title>
        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/angular.js"></script>
        <script src="../lib/js/angular-animate.js"></script>
        <script src="../lib/js/angular-sanitize.js"></script>
        <script src="../lib/js/ui-bootstrap-tpls-3.0.6.min.js"></script>
        <link href="../lib/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../lib/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="../lib/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <style>
        *{ margin:0; padding:0;}
        ul,li{list-style: none;}
        a{text-decoration: none;}
        .box{overflow: hidden;width:500px;margin:100px auto;}
        #sPic{overflow: hidden}
        #sPic li{width:100px;float:left;margin:10px;}
        #sPic li img{width:100px;height:auto;}
        #images{width:500px;}
        #des{text-align: center}
    </style>
    <body ng-controller="index_ctrl">



        <script type="text/ng-template" id="signup1.html">
            <img style="width:1000px;" src="../src/4.jpg" class="img-rounded">
        </script>
        
        <script type="text/ng-template" id="signup2.html">
            <img style="width:1000px;" src="../src/5.jpg" class="img-rounded">
        </script>
        
        <script type="text/ng-template" id="signup3.html">
            <img style="width:1000px;" src="../src/6.jpg" class="img-rounded">
        </script>
        








        <div >
            <ul id="sPic">
                <li><a href="javascript:void(0)" title="图片一"><img style="position:relative;left:840px;width:250px" alt="图片一" src="../src/4.jpg" class="img-rounded" ng-click="show_picture(1)">{{navbutton1}}</a></li>
                <li><a href="javascript:void(0)" title="图片二"><img style="position:relative;left:960px;width:250px" alt="图片二" src="../src/5.jpg"class="img-rounded"ng-click="show_picture(2)">{{navbutton1}}</a></li>
                <li><a href="javascript:void(0)" title="图片三"><img style="position:relative;left:1080px;width:250px" alt="图片三" src="../src/6.jpg"class="img-rounded"ng-click="show_picture(3)">{{navbutton1}}</a></li>
            <img id="images" src="../src/3.jpg" style="position:absolute;left:850px;top:130px;height:400px;width:740px">
        </div>
        <script src="../lib/js/jquery.min.js"></script>
        <script>
            $(function(){
                $("#sPic  a img").click(function(){
                    var src=$(this).attr("src");
                    $("#images").attr("src",src);
        
                })
            })
            </script>











        <div class="container" >
            <h1>Hello, world!</h1>
            <div style="width:630px;position:relative;top:100px;left:500px;" class="row" >
                <div class="col-md-6 col-md-offset-3" 
                style="background-color: #ccc;box-shadow: 
                inset 1px -1px 1px #944, inset -1px 1px 1px #944;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
                    elit.
                    </p>
                    <div class="card">
                        <div class="card-header">Header</div>
                        <div class="card-body">Content</div>
                        <div class="card-body">Content</div>
                        <div class="card-footer">Footer</div>
                      </div>
                    <div style="position:relative;left:10px;bottom:10px;">
                        <p></p>
                        <button style="width:260px;" type="button" ng-click="show_picture()" class="btn btn-info btn-lg" >
                           User
                          </button>

                    </div>
                </div>
            </div>
        </div>


        <img style="width:500px;" src="../src/1.jpg" class="img-rounded">
        <div style="width:1000px;" style="position:relative;top:200px;left:100px;" class="panel panel-default">
            <div style="width:1000px;" class="panel-heading">
                不带 title 的面板标题
            </div>
            <div class="panel-body">
                面板内容
            </div>
        </div>
        <script src="../ctrl/common/httpservice.js"></script>
        <script src="../ctrl/info.js"></script>
    </body>
</html>