<!DOCTYPE html>
<html ng-app="profile">
    <head>
        <meta charset="uft-8">
        <title>XxX</title>
        <script src="../lib/js/angular.js"></script>
        <script src="../lib/js/angular-animate.js"></script>
        <script src="../lib/js/angular-sanitize.js"></script>
        <script src="../lib/js/ui-bootstrap-tpls-3.0.6.min.js"></script>
        <link href="../lib/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../lib/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="../lib/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body ng-controller="profile_ctrl">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-header">
                <a class="navbar-brand">XxxX</a>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" ng-click="to_login()">{{navbutton1}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-click="to_signup()">{{navbutton2}}</a>
                </li>
            </ul>
        </nav>
        <div class="profile-container d-flex justify-content-between">
            <div class="container" style="width: 30%;">
                <div class="card border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-circle" src="../src/profile.png" alt="profile_image">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{user.nickname}}</h4><br>
                        <span class="fa fa-envelope"> {{user.email}}</span><br>
                        <span class="fa fa-phone-square"> {{user.phoneNum}}</span>
                    </div>
                </div>
            </div>
            <div class="container">
                <uib-tabset justified="true">
                    <uib-tab heading="For Rent">
                        <div class="mt-3 border-bottom pre-scrollable">
                            <table class="table" style="table-layout: fixed;">
                                <tr ng-repeat="x in [1]">
                                    <td>
                                        <img class="table-image" src="../src/3.jpg">
                                    </td>
                                    <td>
                                        <ul class="fa-ul text-center mb-0">
                                            <li>
                                                <i class="fa-li fa fa-map-marker"></i>
                                                <p class="mb-1" style="overflow-x: auto;">addr</p>
                                            </li>
                                            <li>
                                                <i class="fa-li fa fa-home"></i>
                                                <p class="mb-1">type</p>
                                            </li>
                                            <li>
                                                <i class="fa-li fa fa-calendar"></i>
                                                <p class="mb-1">date({{x}})</p>
                                            </li>
                                            <li>
                                                <i class="fa-li fa fa-usd"></i>
                                                <p class="mb-1">cads</p>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="text-center pt-3">
                                        <button class="btn btn-primary">View</button><br>
                                        <button class="btn btn-primary mt-3">Update</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mt-3 text-center" ng-show="false">
                            <button class="btn btn-lg btn-primary">Add New</button>
                        </div>
                        <div class="container mt-3" ng-show="true">
                            <div class="mb-3">
                                <label>Images</label>
                                <div class="d-flex justify-content-start">
                                    <img class="preview-image" src="../src/1.jpg">
                                    <img class="preview-image" src="../src/3.jpg">
                                    <a href="" type="file" class="fa fa-plus-square-o fa-5x mt-auto mb-auto" image-upload></a>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <form class="w-50 pr-5" name="rent_addr">
                                    <label for="address">Address</label>
                                    <span class="text-danger pl-5" ng-show="addr_err(rent_addr)">{{addr_errmsg(rent_addr)}}</span>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Address Line 1" name="addr1" ng-model="apt.addr1" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Address Line 2" name="addr2" ng-model="apt.addr2">
                                    </div>
                                    <div class="form-group d-flex">
                                        <input class="form-control" type="text" placeholder="City" name="city" ng-model="apt.city" required>
                                        <select class="form-control" name="province" ng-model="apt.province" required>
                                            <option disabled selected hidden value="">Province/Territory</option>
                                            <option>AB</option><option>BC</option><option>MB</option><option>NB</option>
                                            <option>NL</option><option>NT</option><option>NS</option><option>NU</option>
                                            <option>ON</option><option>PE</option><option>QC</option><option>SK</option><option>YT</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Postal Code/ZIP" name="zip" ng-model="apt.zip" required>
                                    </div>
                                </form>
                                <form class="w-50 pr-5" name="rent_info">
                                    <div class="form-group form-inline mb-2">
                                        <label class="justify-content-start w-25">Type</label>
                                        <select class="form-control w-75" name="type" ng-model="apt.type" required>
                                            <option disabled selected hidden value="">Select Type</option>
                                            <option>Studio</option><option>House</option>
                                        </select>
                                    </div>
                                    <div class="form-group form-inline mb-2">
                                        <label class="justify-content-start w-25">Start Date</label>
                                        <select class="form-control w-75" name="date_start" ng-model="apt.date" required>
                                            <option disabled selected hidden value="">Select Date</option>
                                            <option>0</option><option>1</option>
                                        </select>
                                    </div>
                                    <div class="form-group form-inline mb-2">
                                        <label class="justify-content-start w-25">Lease Term</label>
                                        <div class="input-group w-75">
                                            <input class="form-control" type="text" name="term" ng-pattern="/^[0-9]*$/" ng-model="apt.term" required>
                                            <span class="input-group-append input-group-text">months</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline mb-2">
                                        <label class="justify-content-start w-25">Available</label>
                                        <div class="input-group w-75">
                                            <input class="form-control" type="text" name="vacancy" ng-pattern="/^[0-9]*$/" ng-model="apt.vacancy" required>
                                            <span class="input-group-append input-group-text">people</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline mb-2">
                                        <label class="justify-content-start w-25">Rent</label>
                                        <div class="input-group w-75">
                                            <input class="form-control" type="text" name="price" ng-pattern="/^[0-9]+\.?[0-9]*$/" ng-model="apt.price" required>
                                            <span class="input-group-append input-group-text">CAD</span>
                                        </div>
                                    </div>
                                    <span class="text-danger" ng-show="info_err(rent_info)">{{info_errmsg(rent_info)}}</span>
                                </form>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" id="description" rows="3">{{apt.description}}</textarea>
                            </div>
                            <div class="d-flex justify-content-around">
                                <button class="btn btn-lg btn-primary" ng-disabled="rent_addr.$invalid || rent_info.$invalid">Submit</button>
                                <button class="btn btn-lg btn-primary">Cancel</button>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Favourite">
                        <div class="mt-3">
                            <p>gerwe</p>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Edit Profile">
                        <div class="mt-3 d-flex justify-content-between">
                            <div class="container">
                                <p class="text-center">Change Avater</p>
                                <div class="custom-file mt-3">
                                    <input type="file" class="custom-file-input" file-select>
                                    <label class="custom-file-label">{{avater_name}}</label>
                                </div>
                            </div>
                            <form class="container form-group" name="edit_form">
                                <div class="form-group form-inline input-group mb-0">
                                    <span class="input-group-prepend input-group-text w-25">Nickname</span>
                                    <input class="form-control" type="text" name="edit_name" placeholder="{{user.nickname}}" ng-focus="focus_name()" ng-model="change_user.nickname">
                                </div>
                                <span class="text-danger pl-2 mt-0" ng-show="edit_name_err()">{{edit_name_errmsg}}</span>
                                <div class="form-group form-inline input-group mb-0">
                                    <span class="input-group-prepend input-group-text w-25">Phone Number</span>
                                    <input class="form-control" type="text" name="edit_phone" placeholder="{{user.phoneNum}}" ng-pattern="/^[0-9]*$/" ng-model="change_user.phoneNum">
                                </div>
                                <span class="text-danger pl-2" ng-show="edit_form.edit_phone.$invalid">{{edit_phone_errmsg}}</span>
                                <div class="form-group form-inline input-group mb-0">
                                    <span class="input-group-prepend input-group-text w-25">New Password</span>
                                    <input class="form-control" type="{{pwdtype ? 'text':'password'}}" name="edit_pwd" ng-pattern="pwd_pattern" ng-model="change_user.password">
                                    <span class="form-control-eye p-eye" ng-class="{'fa fa-eye': pwdtype, 'fa fa-eye-slash': !pwdtype}" ng-click="pwdtoggle()"></span>
                                </div>
                                <span class="text-danger pl-2" ng-show="edit_form.edit_pwd.$invalid">{{edit_pwd_errmsg}}</span>
                            </form>
                        </div>
                        <div class="mt-3 d-flex justify-content-around">
                            <button class="btn btn-lg btn-primary" ng-disabled="edit_form.$invalid" ng-click="edit_update()">Update</button>
                            <button class="btn btn-lg btn-primary" ng-click="edit_cancel()">Cancel</button>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <script src="../ctrl/common/httpservice.js"></script>
        <script src="../ctrl/common/modalservice.js"></script>
        <script src="../ctrl/common/navservice.js"></script>
        <script src="../ctrl/profile.js"></script>
    </body>
</html>