<div class="modal-header justify-content-center">
    <h2 class="modal-title">Sign up</h2>
</div>
<div class="modal-body">
    <form class="container" name="signup_form">
        <div class="form-group mb-1">
            <label>Email</label>
            <input class="form-control" type="email" name="signup_email" ng-focus="f_upe()" ng-model="user_up.email" required>
            <span class="text-danger pl-13p" ng-show="signup_email_err()">{{signup_email_errmsg()}}</span>
        </div>
        <div class="form-group mb-1">
            <label>Username</label>
            <input class="form-control" type="text" name="signup_name" ng-focus="f_upn()" ng-model="user_up.nickname" required>
            <span class="text-danger pl-13p" ng-show="signup_name_err()">{{signup_name_errmsg()}}</span>
        </div>
        <div class="form-group mb-1">
            <label>Password</label>
            <input class="form-control" type="{{typepwd ? 'text':'password'}}" name="signup_pwd" ng-pattern="pattern_pwd" ng-model="user_up.password" required>
            <span class="form-control-eye s-eye" ng-show="!signup_form.signup_pwd.$error.required" ng-class="{'fa fa-eye': typepwd, 'fa fa-eye-slash': !typepwd}" ng-click="togglepwd()"></span>
            <span class="text-danger pl-13p" ng-show="signup_pwd_err()">{{signup_pwd_errmsg()}}</span>
        </div>
    </form>
</div>
<div class="modal-footer justify-content-between">
    <button class="btn btn-link invisible" type="button">Login</button>
    <button class="btn btn-primary" type="button" ng-disabled="signup_disable()" ng-click="signup_click()">Create Account</button>
    <button class="btn btn-link" type="button" ng-click="to_login()">Login</button>
</div>